# SO / escritorio
.DS_Store
Thumbs.db

# Ignorar estado/ajustes locales de Obsidian
.obsidian/*
# (opcional) permitir estas carpetas si quieres versionarlas
!.obsidian/plugins/
!.obsidian/snippets/
!.obsidian/themes/
# (opcional) permitir la lista de plugins
!.obsidian/community-plugins.json

# Editores
.vscode/
.idea/

# Miscelánea
*.log

