# SO / escritorio
.DS_Store
Thumbs.db

# Obsidian: ignora solo estado local, NO la apariencia/temas/plugins
.obsidian/backups/
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/app.json

# Mantener personalización y plugins
!.obsidian/
!.obsidian/appearance.json
!.obsidian/themes/
!.obsidian/snippets/
!.obsidian/plugins/
!.obsidian/community-plugins.json
!.obsidian/graph.json

# Editores
.vscode/
.idea/

# Miscelánea
*.log

